@media all and (min-width: 501px) and (max-width: 700px){

    body{
        margin: 0;
    }
   .prt{
       width: 100vw;
       height: 100vh;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
   }
   .enf1{
       background-image: url("samfr.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       width: 100%;
       height: 50%;
   }
   .enf2{
       color: white;
       width: 100%;
       height: 49%;
       display: flex;
       justify-content: space-around;
   }
   .ban{
       height: 200px;
       width: 200px;
       margin-left: 40px;
       display: flex;
       flex-direction: column;
   }
   .soustitre{
       background-color: white;
       margin-bottom: 0;
       justify-content: space-around;
       padding-left: 15px;
   }
   .titre{
       font-size: 20px;
       margin-left: 20px;
       margin-top: 70px;
       justify-content: space-around;
   }
   #liste{
       background-color: white;
       list-style: none;
       font-size: 20px;
       margin: 0;
       padding-left: 15px;
   }
   .aside1{
       background-color: pink;
       height: 80%;
       width: 46%;
       display: flex;
       padding: 10px;
       margin-top: 45px;
   }
   .centre{
       margin: auto;
   }
   .titre1{
       font-size: 10px;
       margin-left: 50px;
   }
   .txt{
       margin: auto;
       padding-top: 20px;
   }
   .aside2{
       font-size: 13px;
       background-color: pink;
       height: 80%;
       width: 46%;
       text-align: center;
       display: flex;
       padding: 10px;
       margin-top: 45px;
   }
   .bloc{
       margin: auto;
       width: 90%;
   }
   .rond{
       width: 50px;
       height: 50px;
       border: 1px white solid;
       border-radius: 50px;
       margin-left: 80px;
   }
   
   
   }